* {
  margin: 0;
  padding: 0;
}

#container {
  overflow: scroll;
}

.App {
  text-align: center;
}
#board {
  user-select: none;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  cursor: crosshair;
  overflow: scroll;
  /* background-color: gray; */
}
.cell {
  border: 1px solid #ccc;
  position: absolute;
  /* display: inline-block; */
  /* background-color: white; */
  overflow: hidden;
  text-align: center;
  /* transform: rotateX(20); */
}
/* .cell:hover {
  border: 1px solid #000;
} */
